.search {
  &__form {
    display: flex;
    width: 327px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 24px;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  }

  &__input {
    height: 100%;
    width: 269px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--darkGray);
  }

  &__btn {
    height: 100%;
    width: 58px;
    border: none;
    background: url("../../assets/icons/icon-arrow.svg"), #000000;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 15px 15px 0px;
    outline: none;
  }
}

@media (min-width: 992px) {
  .search {
    &__form {
      width: 555px;
      margin-bottom: 48px;
    }

    &__input {
      width: 497px;

      &:hover {
        cursor: pointer;
      }
    }

    &__btn:hover {
      cursor: pointer;
      background-color: #3f3f3f;
    }
  }
}
