.app {
  background-image: url("../../assets/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  overflow: auto;
  height: 100vh;

  &__title {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.232143px;
    margin-top: 26px;
    margin-bottom: 29px;
  }
}

@media (min-width: 992px) {
  .app {
    &__title {
      font-size: 32px;
    }
  }
}
